@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
 
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 258 84% 68%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 222.2 84% 4.9%;
 
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
 
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 222.2 84% 4.9%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --accent-blue: 221 83% 60%;
    --accent-blue-foreground: 210 40% 98%;

    --accent-green: 142 71% 45%;
    --accent-green-foreground: 142 71% 95%;

    --accent-green-dark: 142 80% 30%;
    --accent-green-dark-foreground: 142 71% 95%;

    --third: 32 95% 62%;
 
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 258 84% 60%;
 
    --radius: 0.5rem;

    --chart-1: 258 84% 68%;
    --chart-2: 32 95% 62%;
    --chart-3: 160 84% 39%;
    --chart-4: 204 80% 51%;
    --chart-5: 0 84% 60%;
  }
 
  .dark {
    --background: 224 71% 4%;
    --foreground: 210 40% 98%;
 
    --card: 215 28% 17%;
    --card-foreground: 210 40% 98%;
 
    --popover: 224 71% 4%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 258 84% 75%;
    --primary-foreground: 210 20% 98%;
 
    --secondary: 215 28% 17%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 215 28% 17%;
    --muted-foreground: 215 20% 65%;
 
    --accent: 215 28% 17%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --accent-blue: 221 83% 60%;
    --accent-blue-foreground: 210 40% 98%;
    
    --accent-green: 142 71% 45%;
    --accent-green-foreground: 142 71% 95%;

    --accent-green-dark: 142 80% 20%;
    --accent-green-dark-foreground: 142 71% 95%;

    --third: 32 95% 72%;
 
    --border: 215 28% 11%;
    --input: 215 28% 17%;
    --ring: 258 84% 75%;

    --chart-1: 258 84% 75%;
    --chart-2: 32 95% 72%;
    --chart-3: 160 84% 49%;
    --chart-4: 204 80% 61%;
    --chart-5: 0 84% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
    .bg-accent-green-dark {
        @apply bg-[hsl(var(--accent-green-dark))];
    }
    .text-accent-green-dark-foreground {
        @apply text-[hsl(var(--accent-green-dark-foreground))];
    }
}
