@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 258 84% 68%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --accent-blue: 221 83% 60%;
    --accent-blue-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 258 84% 60%;
 
    --radius: 0.5rem;

    --chart-1: 258 84% 68%;
    --chart-2: 32 95% 62%;
    --chart-3: 160 84% 39%;
    --chart-4: 204 80% 51%;
    --chart-5: 0 84% 60%;
  }
 
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 210 40% 98%;
 
    --card: 240 10% 3.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 240 10% 3.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 258 84% 75%;
    --primary-foreground: 210 20% 98%;
 
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --accent-blue: 221 83% 50%;
    --accent-blue-foreground: 210 40% 98%;
 
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 258 84% 75%;

    --chart-1: 258 84% 75%;
    --chart-2: 32 95% 72%;
    --chart-3: 160 84% 49%;
    --chart-4: 204 80% 61%;
    --chart-5: 0 84% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
